body {
    font-family: monospace;
    background-color: orange;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rainbow-text {
  font-size: 15vw; /* Taille du texte */
  font-weight: bold; /* Police en gras */
  color: black;
}

#searchInput{
  margin: 2rem;
  width: 20rem;
  font-size: 1.2rem;
  padding: 0.5em;
  opacity: 0.3;
  border-radius: 30px;
  background-color: antiquewhite;
  }