body {
  background: #c0c0c0; /* fond gris typique */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#Strategy {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1rem;
  text-align: center;
}